@media(min-width:768px){

#profile{
flex-direction:row;
text-align:left;
justify-content:center;
gap:3rem;
}

.btn-container{
flex-direction:row;
}

.btn{
width:auto;
}

.projects-grid{
grid-template-columns:repeat(2,1fr);
}

.contact-container{
grid-template-columns:repeat(2,1fr);
}

}
